h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: rgb(57, 40, 212);
    text-align: center;
}

.info h1{
    text-align: start;
}

.info h2{
    text-align: start;
}

.grid {
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;

}
body {
    background-color: lavender;
}

.links1 {   
    margin: 2px;
}

.links1 h2{
    color: purple;
}

.links2 h2{
    color: purple;
}

.links1 img {
    opacity: 0.13;
}

.links1:hover img{
    opacity: 1;
}

.img1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.links2 {
    position: relative;    
    margin: 20px;
    justify-content: space-around;
}

.links2 img {
    opacity: 0.13;
    justify-content: space-around;
}

.links2:hover img{
    opacity: 1;
}

.links2 h2 {
    text-align: start;
}

.links {
    display: flex;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-evenly;
    background-color: purple;
}

.links h1 {
    color: powderblue;
}

.cent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lavender;
}

.cent1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lavender;
    color: #cc6600;
    font-family: 'Times New Roman', Times, serif ;
}

.box {
    border-style: solid;
    border-width: 5px;
    border-color: blueviolet;
    margin: 30px;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 10s;
    padding: 20px;
}

@keyframes example {
    from {border-color: red;}
    to {border-color: blue;}
}

.image1 {
    justify-content: flex-end;
    margin-left: 420px;
    margin-top: 20px;
}

.image { 
    padding: 20;
    margin: 20px;
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;
}
.cent4 h2 {
    color: blue;
}

.cent5 h2 {
    color: blue;
}

a:link {
    color: aqua;
}

a:visited {
    color: chartreuse;
}

.require {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.require h2 {
    text-align: start;
    color: teal;
}

.require1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.require1 h1 {
    text-align: start;
    color: teal;
}

.hi {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hi h1 {
    color: #000000;
}


.head h1{
    color: darkgreen;
}

.text {
    text-align: center;
    color: black;
    font-size:larger;
}
